body {
    padding-left: 35px;
}

.tabela {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    border-collapse: collapse;
    
    
}

.tabela td, .tabela th {
    border: 1px solid #4c4c4c;
    padding: 15px;
}

div {
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #4c4c4c;
    padding: 20px 150px;
    border-radius: 15px;
    background-color: #f0f0f0;
    

}

